client/.gradle/7.1/fileHashes/resourceHashesCache.bin
client/build/classes/java/main/RestClient$1.class
client/build/classes/java/main/RestClient$2.class
client/build/classes/java/main/RestClient.class
client/build/classes/java/main/Student.class
client/build/distributions/client-1.0-SNAPSHOT.tar
client/build/distributions/client-1.0-SNAPSHOT.zip
client/build/libs/client-1.0-SNAPSHOT.jar
client/build/scripts/client
client/build/scripts/client.bat
client/build/tmp/compileJava/previous-compilation-data.bin
client/build/tmp/jar/MANIFEST.MF
service/.gradle/7.1/fileHashes/resourceHashesCache.bin
service/.gradle/checksums/md5-checksums.bin
service/.gradle/checksums/sha1-checksums.bin
service/build/classes/java/main/AuthenticationFilter.class
service/build/classes/java/main/CustomApplicationConfig.class
service/build/classes/java/main/Publisher.class
service/build/classes/java/main/model/Student.class
service/build/classes/java/main/repository/FakeStudentRepository.class
service/build/classes/java/main/repository/StudentRepository.class
service/build/classes/java/main/resources/StudentsResources$1.class
service/build/classes/java/main/resources/StudentsResources$2.class
service/build/classes/java/main/resources/StudentsResources.class
service/build/distributions/service-1.0-SNAPSHOT.tar
service/build/distributions/service-1.0-SNAPSHOT.zip
service/build/libs/service-1.0-SNAPSHOT.jar
service/build/scripts/service
service/build/scripts/service.bat
service/build/tmp/compileJava/previous-compilation-data.bin
service/build/tmp/jar/MANIFEST.MF
service/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
service/.gradle/7.1/executionHistory/executionHistory.bin
service/.gradle/7.1/executionHistory/executionHistory.lock
service/.gradle/7.1/fileHashes/fileHashes.bin
service/.gradle/7.1/fileHashes/fileHashes.lock
service/.gradle/buildOutputCleanup/buildOutputCleanup.lock
service/.gradle/buildOutputCleanup/outputFiles.bin
service/.gradle/checksums/checksums.lock
client/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
client/.gradle/7.1/executionHistory/executionHistory.bin
client/.gradle/7.1/executionHistory/executionHistory.lock
client/.gradle/7.1/fileHashes/fileHashes.bin
client/.gradle/7.1/fileHashes/fileHashes.lock
client/.gradle/buildOutputCleanup/buildOutputCleanup.lock
client/.gradle/buildOutputCleanup/outputFiles.bin
client/.gradle/checksums/checksums.lock
